

header{
    border-bottom: 3px solid red;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
   
    
}
h1{
    color: red;
}

p{
    color: red;
    font-style: italic;
}

h4{
    font-style: italic;
}


#headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
    

    

}

#menibox{
    color: red;
    list-style: none;
    display: flex;
    flex-direction: row;
    
    gap: 20px;

}



.home{
    border: 1px solid red ;
    border-radius: 10px;
    padding: 10px;

}

a{
    color: red;
}

a:hover{
    color: blue;
    cursor: pointer;
}

a:visited{
    color: purple;
}

#section1{
   
    width: 30%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#section2{
   
    width: 60%;
    height: 1000px;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}

footer{
    background-image: url(../350px-Drogon_a_hidden_agenda_by_christopherburdett.jpg);
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;


}
#Backtotop{
    color: red;
}
